---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Something about me here!"
	pubDate={new Date('April 10 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Welcome to the Future Innovators Franchisee Association—a dedicated space for franchisees to connect, collaborate, and grow together.

       This community is built on the belief that shared knowledge and positive thinking lead to stronger businesses. 
       Members are encouraged to exchange ideas, support one another, and explore new ways to improve operations and drive success across all locations.
	</p>

	
</Layout>
