---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Franchisees!</h1>
			<p>
				Welcome to the Future Innovators Franchisee Association—a dedicated space for franchisees to connect, collaborate, and grow together.

                This community is built on the belief that shared knowledge and positive thinking lead to stronger businesses. 
                Members are encouraged to exchange ideas, support one another, and explore new ways to improve operations and drive success across all locations.
			</p>

			<img width="100%" height="100%" src="/fifa-logo.jpg">

            <p>
				Bookmark this site for more information coming soon!!
			</p>
			
		</main>
		<Footer />
	</body>
</html>
